<!-- app/views/restaurants/show.html.erb -->

<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><strong>Address:</strong> <%= @restaurant.address %></p>
  <p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
  <p><strong>Category:</strong> <%= @restaurant.category %></p>
  <!-- Ajoutez ici d'autres détails du restaurant si nécessaire -->
</div>
